@model Person

<p>@Model.Name @Model.Adress</p>
<table>
    <tr>
        <td>@Model.Surname</td>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>@Model.Adress</td>
    </tr>
    <tr>
        <td>Vīrietis ? @Model.IsMale</td>
    </tr>
</table>